@import url(./gnb.css);
@import url(./popup.css);
@import url(./timetable.css);
@import url(./sidebar.css);

html, body{
    /* height: 100%; */
    padding: 0;
    margin: 0;
    overflow: hidden;
}
body {
    background-color: #F6F7F9;
}
.main {
    display: flex;
}
