<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../css/mypage/style.css">
    <script src="../js/mypage/main.js" type="module" defer></script>
</head>
<body>
    <div class="gnb">
        <div class="gnb_logo_box">
            <img src="../img/logo.png" style="visibility: hidden;">
        </div>

        <div class="logo">
            <img src="../img/logo.png">
        </div>
        
        <div class="nav">
            <div class="navitem logout">
                로그아웃
                <i class="fa-light fa-arrow-right-from-bracket"></i>
            </div>
        </div>
    </div>

    <div class="main">
        <div class="side_bar">
            <div class="title">프로필</div>

            <div class="side_items">
                <div class="item side_item_active" data-content="group_list">그룹 목록</div>
                <div class="item" data-content="alam_content">알람</div>
                <div class="item" data-content="mytable_content">내 시간표</div>
                <div class="item" data-content="info_content">정보 수정</div>
            </div>

        </div>

        <div class="contain">
            <div class="content group_list unactive">
                <div class="filters">
                    <div class="filter_item">정렬 날짜</div>
                    <div class="filter_item">정렬 모양</div>
                    <div class="filter_item group_search">그룹검색</div>
                </div>

                <div class="groups">
                    <div class="group_item">
                        <div class="group_content">
                            <div class="group_icon">
                                <img src="../img/Group_icon_blue.png">
                            </div>
                            <div class="group_text">
                                <div class="group_title">기초설계 프로젝트 회의</div>
                                <div class="group_app">김멋사, 김멋사, 홍길동, 김영희, 박사자</div>
                            </div>
                        </div>

                        <div class="icons">
                            <div class="star_icon"><img src="../img/star_icon.png"></div>
                            <div class="more_icon"><img src="../img/more_icon.png"></div>
                        </div>
                    </div>
                    
                    <div class="group_item">
                        <div class="group_content">
                            <div class="group_icon">
                                <img src="../img/Group_icon_red.png">
                            </div>
                            <div class="group_text">
                                <div class="group_title">기초설계 프로젝트 회의</div>
                                <div class="group_app">김멋사, 홍길동, 김영희, 박사자</div>
                            </div>
                        </div>

                        <div class="icons">
                            <div class="star_icon"><img src="../img/star_icon.png"></div>
                            <div class="more_icon"><img src="../img/more_icon.png"></div>
                        </div>
                    </div>
                    
                    <div class="group_item">
                        <div class="group_content">
                            <div class="group_icon">
                                <img src="../img/Group_icon_yellow.png" >
                            </div>
                            <div class="group_text">
                                <div class="group_title">기초설계 프로젝트 회의</div>
                                <div class="group_app">김멋사, 김멋사, 홍길동, 김영희, 박사자</div>
                            </div>
                        </div>

                        <div class="icons">
                            <div class="star_icon"><img src="../img/star_icon.png"></div>
                            <div class="more_icon"><img src="../img/more_icon.png"></div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="content mytable_content">

                <div class="mytable_title">나의 시간표</div>
                <div class="mytable">
                    <!-- <img src="../img/table.png"> -->
                </div>

                <div class="reupload">
                    <div class="reupload_btn">
                        재업로드 +
                    </div> 
                </div>
            </div>

        </div>
    </div>
</body>
</html>