.group_list{
    padding-top: 2rem;
    width: 85%;
}
.filters{
    display: flex;
    justify-content: right;
    padding-bottom: 1rem;
    border-bottom: 1px solid #BBBBBB;
}
.filter_item{
    height: 1.5rem;
    margin-left: 2rem;
    padding: 1rem 3rem;

    display: flex;
    justify-content: center;
    align-items: center;
    
    border: 1px solid #BBBBBB;
    border-radius: 1.5rem;

    color : #BBBBBB;
}

.group_item{
    position: relative;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 2rem;

    border-bottom: 1px solid #BBBBBB;
}
.group_icon{
    width: fit-content;
    object-fit: contain;
}
.group_content{
    display: flex;
    justify-content: baseline;
    align-items: center;
}
.group_text{
    margin-left: 2rem;
}
.group_title{
    font-size: 1.5rem;
    font-weight: 600;
}
.group_app{
    color: #BBBBBB;
    margin-top: 0.5rem;
    font-size: 0.8rem;
}
.icons{
    position: absolute;
    right: 2rem; top: 1.5rem;

    display: flex;
    justify-content:space-between;
    align-items: center;

    width: 2.5rem;
}
