.table {
    width: 45rem;
    height: 40rem;
    background-color: white;
    border-radius: 75px;
    position: absolute;
    top: 11rem;
    left: 30rem;
    z-index: -1;
    display: flex;
   
   
}
/* 월요일 */
.mon_1 {
    position: absolute;
    
    top:230px;
    left: 535px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px;
}
.mon_2 {
    position: fixed;
    position: absolute;
    top:294px;
    left: 535px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px;
}
.mon_3 {
    position: absolute;
    top:358px;
    left: 535px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px;
}
.mon_4 {
    position: absolute;
    top:422px;
    left: 535px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px;
}
.mon_5 {
    position: absolute;
    top:486px;
    left: 535px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px;
}
.mon_6 {
    position: absolute;
    top:550px;
    left: 535px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px;
}
.mon_7 {
    position: absolute;
    top:614px;
    left: 535px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px;
}
.mon_8 {
    position: absolute;
    top:678px;
    left: 535px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px;
}
.mon_9 {
    position: absolute;
    top:742px;
    left: 535px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px;
}


/* 화요일 */
.tue_1 {
    position: absolute;
    top:230px;
    left: 627px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px; 
}
.tue_2 {
    position: absolute;
    top:294px;
    left: 627px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px; 
}
.tue_3 {
    position: absolute;
    top:358px;
    left: 627px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px; 
}
.tue_4 {
    position: absolute;
    top:422px;
    left: 627px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px; 
}
.tue_5 {
    position: absolute;
    top:486px;
    left: 627px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px; 
}
.tue_6 {
    position: absolute;
    top:550px;
    left: 627px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px; 
}
.tue_7 {
    position: absolute;
    top:614px;
    left: 627px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px; 
}
.tue_8 {
    position: absolute;
    top:678px;
    left: 627px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px; 
}
.tue_9 {
    position: absolute;
    top:742px;
    left: 627px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px; 
}

/* 수요일 */
.wed_1 {
    position: absolute;
    top:230px;
    left: 719px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px;
}
.wed_2 {
    position: absolute;
    top:294px;
    left: 719px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px;
}
.wed_3 {
    position: absolute;
    top:358px;
    left: 719px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px;
}
.wed_4 {
    position: absolute;
    top:422px;
    left: 719px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px;
}
.wed_5 {
    position: absolute;
    top:486px;
    left: 719px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px;
}
.wed_6 {
    position: absolute;
    top:550px;
    left: 719px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px;
}
.wed_7 {
    position: absolute;
    top:614px;
    left: 719px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px;
}
.wed_8 {
    position: absolute;
    top:678px;
    left: 719px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px;
}
.wed_9 {
    position: absolute;
    top:742px;
    left: 719px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px;
}

/* 목요일 */
.thu_1 {
    position: absolute;
    top:230px;
    left: 811px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px;
}
.thu_2 {
    position: absolute;
    top:294px;
    left: 811px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px;
}
.thu_3 {
    position: absolute;
    top:358px;
    left: 811px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px;
}
.thu_4 {
    position: absolute;
    top:422px;
    left: 811px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px;
}
.thu_5 {
    position: absolute;
    top:486px;
    left: 811px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px;
}
.thu_6 {
    position: absolute;
    top:550px;
    left: 811px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px;
}
.thu_7 {
    position: absolute;
    top:614px;
    left: 811px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px;
}
.thu_8 {
    position: absolute;
    top:678px;
    left: 811px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px;
}
.thu_9 {
    position: absolute;
    top:742px;
    left: 811px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px;
}

/* 금요일 */
.fri_1 {
    position: absolute;
    top:230px;
    left: 903px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px;
}.fri_2 {
    position: absolute;
    top:294px;
    left: 903px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px;
}
.fri_3 {
    position: absolute;
    top:358px;
    left: 903px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px;
}
.fri_4 {
    position: absolute;
    top:422px;
    left: 903px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px;
}
.fri_5 {
    position: absolute;
    top:486px;
    left: 903px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px;
}
.fri_6 {
    position: absolute;
    top:550px;
    left: 903px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px;
}
.fri_7 {
    position: absolute;
    top:614px;
    left: 903px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px;
}
.fri_8 {
    position: absolute;
    top:678px;
    left: 903px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px;
}
.fri_9 {
    position: absolute;
    top:742px;
    left: 903px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px;
}

/* 토요일 */
.sat_1 {
    position: absolute;
    top:230px;
    left: 995px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px;
}
.sat_2 {
    position: absolute;
    top:294px;
    left: 995px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px;
}
.sat_3 {
    position: absolute;
    top:358px;
    left: 995px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px;
}
.sat_4 {
    position: absolute;
    top:422px;
    left: 995px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px;
}
.sat_5 {
    position: absolute;
    top:486px;
    left: 995px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px;
}
.sat_6 {
    position: absolute;
    top:550px;
    left: 995px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px;
}
.sat_7 {
    position: absolute;
    top:614px;
    left: 995px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px;
}
.sat_8 {
    position: absolute;
    top:678px;
    left: 995px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px;
}
.sat_9 {
    position: absolute;
    top:742px;
    left: 995px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px;
}

/* 일요일 */
.sun_1 {
    position: absolute;
    top:230px;
    left: 1087px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px;
}
.sun_2 {
    position: absolute;
    top:294px;
    left: 1087px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px;
}
.sun_3 {
    position: absolute;
    top:358px;
    left: 1087px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px;
}
.sun_4 {
    position: absolute;
    top:422px;
    left: 1087px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px;
}
.sun_5 {
    position: absolute;
    top:486px;
    left: 1087px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px;
}
.sun_6 {
    position: absolute;
    top:550px;
    left: 1087px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px;
}
.sun_7 {
    position: absolute;
    top:614px;
    left: 1087px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px;
}
.sun_8 {
    position: absolute;
    top:678px;
    left: 1087px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px;
}
.sun_9 {
    position: absolute;
    top:742px;
    left: 1087px;
    width: 82px;
    height: 54px;
    border: 0.5px solid black;
    border-radius: 15px;
}

/* 요일 */
.day {
    position: absolute;
    top:12rem;
    left: 567px;
    font-size: 18px;
    letter-spacing: 74px;
    color: #828282; 
}


/* 시간 */
.main_contents {
    padding: 5rem;
}
.time {
    padding-top: 12rem;
    padding-left: 12rem;
    font-size: 18px;
    color: #828282;
    line-height: 50px;   
}
._09 {
    margin-top: -3.5rem;
    margin-left: -1.5rem;
}
._10 {
    margin-top: 1rem;
    margin-left: -1.5rem;
}
._11 {
    margin-top: 0.9rem;
    margin-left: -1.5rem;
}
._12 {
    margin-top: 0.8rem;
    margin-left: -1.5rem;
}  
._13 {
    margin-top: 0.9rem;
    margin-left: -1.5rem;
}
._14 {
    margin-top: 0.9rem;
    margin-left: -1.5rem;
}
._15 {
    margin-top: 1rem;
    margin-left: -1.5rem;
}
._16 {
    margin-top: 0.7rem;
    margin-left: -1.5rem;
}
._17 {
    margin-top: 0.8rem;
    margin-left: -1.5rem;
}

